<launch>
<arg name="model" default = "btechbot"/>
<!-- Load the URDF file -->	
<param name="robot_description" textfile="$(find btechbot)/urdf/btechbot_core.xacro" />
<!-- Launch Gazebo -->
<include file="$(find gazebo_ros)/launch/empty_world.launch" >
<arg name="world_name" value="$(find btechbot)/worlds/shapes.world" />
</include>	
<!-- Spawning the model -->
<node name = "spawn_urdf" pkg = "gazebo_ros" type = "spawn_model" respawn = "false" output = "screen" args = "-urdf -model btechbot_$(arg model) -param robot_description" />
<!-- Start the robot state publisher -->
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" args = "use_sim_time:=true -param robot_description -"/>	
<!-- Start the robot state publisher -->
<!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/-->

</launch>
